/* Styles, not important */
*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url('assets/background.jpg');
	background-color: #2b2b2b;
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;
	text-align: center;
}

h1, h2, h3, h4, h5, p {
	margin: 5px;
}

/* Main IDs for the site */
#site {
	background-color: rgba(0, 0, 0, 0.5);
	min-width: 100vw;
	min-height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	margin: 0;
	color: #FFF;
	font-family: "Lato", sans-serif;
}

#content {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 750px;
	max-width: 90vw;
	margin-top: 25vh;
	max-height: 50vh;
}

#main-container {
	position: relative;
	background-color: #3b3b3b;
	margin: 20px 20%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 12px 12px 12px 12px;
	overflow: hidden;
	opacity: 0.85;
	width: 60%;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
	#content {
		margin-top: 5vh;
	}

	#main-container {
		max-height: 60vh;
	}

	#navbar {
		flex-direction: column;
	}

	#navbar .input {
		margin-bottom: 15px;
	}

	#navbar .button-container {
		justify-content: center;
	}

	.button-container .btn,
	.button-container .btn-clr {
		padding: 11px 15%!important;
	}
}

#navbar {
	padding: 20px 10%;
	display: flex;
	justify-content: center;
}

#navbar .button-container {
	display: flex;
	flex-direction: row;
	padding: 0 10px;
	flex-grow: 3;
}

/* Style the input */
.input {
	flex-grow: 5;
	height: 40px;
	border: 10px;
	border-radius: 6px;
	padding: 8px;
	font-size: 14px;
	overflow: hidden;
}

#page {
	width: 100%;
	padding: 0 5px;
}

.title {
	font-size: 31pt;
	font-weight: 300;
}

.sub-title {
	font-size: 14pt;
	color: #EEE;
}

.sub-title span {
	color: #AAA;
}

div.footer-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 70%;
	margin: 0 auto;
}

div.footer-container .notice-left {
	width: 40%;
	align-content: end;
	color: #dbdadf;
	opacity: 0.6;
	font-size: 11pt;
	cursor: pointer;
}

div.footer-container .notice-right {
	width: 70%;
	font-size: 11pt;
	align-content: end;
	opacity: 0.6;
	color: #dbdadf;
}

/* Remove margins and padding from the list */
ul {
	padding: 0;
	list-style: none;
}

/* Style the list items */
ul li {
	cursor: pointer;
	position: relative;
	padding: 8px 8px 8px 20px;
	list-style-type: none;
	background: #228b22;
	font-size: 18px;
	transition: 0.2s;
	opacity: 1;
	border-radius: 8px 8px 8px 8px;
	margin: 5px auto;
	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
	background: #6a432d;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd):hover {
	background: #553624;
}

/* Darker background-color on hover */
ul li:hover {
	background: #1b6f1b;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
	color: #fff;
	text-decoration: line-through;
	opacity: 0.8;
}

/* Style the close button */
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 7px 8px 9px;
	display: inline-block;
}

.close:hover {
	background-color: #ec6960;
	color: white;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

.button-container .btn,
.button-container .btn-clr {
	border-width: 0;
	outline: none;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	color: #ecf0f1;
	transition: background-color .3s;
	margin: 0 5%;
	padding: 11px 13%;
}

.btn {
	background-color: #2ecc71;
}

.btn-clr {
	background-color: #ec6960;
}

.btn:hover, .btn:focus {
	background-color: #27ae60;
}

.btn-clr:hover, .btn-clr:focus {
	background-color: #ce2029;
}

.btn > *, .btn-clr > * {
	position: relative;
}
